{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is our header</title>
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>

<body>

<div id="header">
	<div class="header-top-links">
		hi
	</div>

</div>


<div id="body-container" class="container">

	<!-- all html after header should be inside the container, so it is width fixed and centered-->